In [ ]:
1

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [6]:
df['FlightNumber']

0    10045.0
1        NaN
2    10065.0
3        NaN
4    10085.0
Name: FlightNumber, dtype: float64

In [7]:
newindex=np.arange(1,df.From_To.count()+1)
newindex
df.set_index(newindex, inplace=True)
df

            From_To  FlightNumber  RecentDelays              Airline
1      LoNDon_paris       10045.0      [23, 47]               KLM(!)
2      MAdrid_miLAN           NaN            []    <Air France> (12)
3  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
4    Budapest_PaRis           NaN          [13]       12. Air France
5   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [9]:
for i in np.arange(1,df.From_To.count()+1):
    if pd.isnull(df.FlightNumber.loc[i,]):
        df.loc[i,'FlightNumber'] = df.FlightNumber.loc[i-1,] + 10
df['FlightNumber']
df

            From_To  FlightNumber  RecentDelays              Airline
1      LoNDon_paris       10045.0      [23, 47]               KLM(!)
2      MAdrid_miLAN       10055.0            []    <Air France> (12)
3  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
4    Budapest_PaRis       10075.0          [13]       12. Air France
5   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [10]:
df['FlightNumber'].astype(int)

1    10045
2    10055
3    10065
4    10075
5    10085
Name: FlightNumber, dtype: int64

In [11]:
df['From_To']

1        LoNDon_paris
2        MAdrid_miLAN
3    londON_StockhOlm
4      Budapest_PaRis
5     Brussels_londOn
Name: From_To, dtype: object

In [12]:
temporarydf = df.copy()
temporarydf[['From','To']] = temporarydf.From_To.str.split("_",expand=True)
temporarydf

            From_To  FlightNumber  ...      From         To
1      LoNDon_paris       10045.0  ...    LoNDon      paris
2      MAdrid_miLAN       10055.0  ...    MAdrid      miLAN
3  londON_StockhOlm       10065.0  ...    londON  StockhOlm
4    Budapest_PaRis       10075.0  ...  Budapest      PaRis
5   Brussels_londOn       10085.0  ...  Brussels     londOn

[5 rows x 6 columns]

In [13]:
temporarydf.From = temporarydf.From.str.capitalize()
temporarydf.To = temporarydf.To.str.capitalize()
temporarydf.From_To = temporarydf.From_To.str.capitalize()
print(temporarydf)

            From_To  FlightNumber  ...      From         To
1      London_paris       10045.0  ...    London      Paris
2      Madrid_milan       10055.0  ...    Madrid      Milan
3  London_stockholm       10065.0  ...    London  Stockholm
4    Budapest_paris       10075.0  ...  Budapest      Paris
5   Brussels_london       10085.0  ...  Brussels     London

[5 rows x 6 columns]

In [14]:
df

            From_To  FlightNumber  RecentDelays              Airline
1      LoNDon_paris       10045.0      [23, 47]               KLM(!)
2      MAdrid_miLAN       10055.0            []    <Air France> (12)
3  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
4    Budapest_PaRis       10075.0          [13]       12. Air France
5   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [15]:
df.drop('From_To',axis=1,inplace=True)
df

   FlightNumber  RecentDelays              Airline
1       10045.0      [23, 47]               KLM(!)
2       10055.0            []    <Air France> (12)
3       10065.0  [24, 43, 87]  (British Airways. )
4       10075.0          [13]       12. Air France
5       10085.0      [67, 32]          "Swiss Air"

In [16]:
df['From_To'] = temporarydf['From_To']
df

   FlightNumber  RecentDelays              Airline           From_To
1       10045.0      [23, 47]               KLM(!)      London_paris
2       10055.0            []    <Air France> (12)      Madrid_milan
3       10065.0  [24, 43, 87]  (British Airways. )  London_stockholm
4       10075.0          [13]       12. Air France    Budapest_paris
5       10085.0      [67, 32]          "Swiss Air"   Brussels_london

In [17]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhO
lm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
df
rows = []
_ = df.apply(lambda row:[rows.append([row['Airline'], row['FlightNumber'],nn,r
ow['From_To']])
 for nn in row.RecentDelays], axis=1)

SyntaxError: ignored