In [6]:
#url='https://www.dropbox.com/s/b3nv38jjo5dxcl6/nba_2013.csv?dl=0'
import pandas
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
nba=pandas.read_csv('nba_2013.csv')

In [7]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [8]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [9]:
nba.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [10]:
nba.dtypes

player           object
pos              object
age               int64
bref_team_id     object
g                 int64
gs                int64
mp                int64
fg                int64
fga               int64
fg.             float64
x3p               int64
x3pa              int64
x3p.            float64
x2p               int64
x2pa              int64
x2p.            float64
efg.            float64
ft                int64
fta               int64
ft.             float64
orb               int64
drb               int64
trb               int64
ast               int64
stl               int64
blk               int64
tov               int64
pf                int64
pts               int64
season           object
season_end        int64
dtype: object

In [11]:
nba['fg.'].fillna(nba['fg.'].median(),inplace=True)
nba['x3p.'].fillna(nba['x3p.'].median(),inplace=True)
nba['x2p.'].fillna(nba['x2p.'].median(),inplace=True)
nba['efg.'].fillna(nba['efg.'].median(),inplace=True)
nba['ft.'].fillna(nba['ft.'].median(),inplace=True)

In [12]:
nba.duplicated().any()

False

In [13]:
nba.drop('player',axis=1,inplace=True)
nba.drop('bref_team_id',axis=1,inplace=True)
nba.drop('season',axis=1,inplace=True)
nba.drop('season_end', axis=1, inplace=True)

In [14]:

nba.columns

Index(['pos', 'age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa',
       'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts'],
      dtype='object')

In [15]:
nba['pos'].value_counts()

SG    109
SF     99
PF     96
C      90
PG     85
G       1
F       1
Name: pos, dtype: int64

In [16]:
new_pos = pd.get_dummies(nba['pos'],prefix='pos',drop_first=True)
new_pos.head()

   pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0      0      0       0       0       1       0
1      0      0       0       0       0       0
2      0      0       1       0       0       0
3      0      0       0       0       0       1
4      0      0       0       0       0       0

In [17]:
nba.drop('pos',axis=1,inplace=True)
nba.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,0.660,72,144,216,28,23,26,30,122,171
1,20,81,20,1197,93,185,0.503,0,0,0.330976,...,0.581,142,190,332,43,40,57,71,203,265
2,27,53,12,961,143,275,0.520,0,0,0.330976,...,0.639,102,204,306,38,24,36,39,108,362
3,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,0.815,32,230,262,248,35,3,146,136,1330
4,25,56,30,951,136,249,0.546,0,1,0.000000,...,0.836,94,183,277,40,23,46,63,187,328

In [18]:
df = pd.concat([nba,new_pos],axis=1)

In [19]:
df.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,blk,tov,pf,pts,pos_F,pos_G,pos_PF,pos_PG,pos_SF,pos_SG
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,26,30,122,171,0,0,0,0,1,0
1,20,81,20,1197,93,185,0.503,0,0,0.330976,...,57,71,203,265,0,0,0,0,0,0
2,27,53,12,961,143,275,0.520,0,0,0.330976,...,36,39,108,362,0,0,1,0,0,0
3,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,3,146,136,1330,0,0,0,0,0,1
4,25,56,30,951,136,249,0.546,0,1,0.000000,...,46,63,187,328,0,0,0,0,0,0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     481 non-null    int64
 1   g       481 non-null    int64
 2   gs      481 non-null    int64
 3   mp      481 non-null    int64
 4   fg      481 non-null    int64
 5   fga     481 non-null    int64
 6   fg.     481 non-null    float64
 7   x3p     481 non-null    int64
 8   x3pa    481 non-null    int64
 9   x3p.    481 non-null    float64
 10  x2p     481 non-null    int64
 11  x2pa    481 non-null    int64
 12  x2p.    481 non-null    float64
 13  efg.    481 non-null    float64
 14  ft      481 non-null    int64
 15  fta     481 non-null    int64
 16  ft.     481 non-null    float64
 17  orb     481 non-null    int64
 18  drb     481 non-null    int64
 19  trb     481 non-null    int64
 20  ast     481 non-null    int64
 21  stl     481 non-null    int64
 22  blk     481 non-null    int64
 23  tov     481 non-null    int64
 24  pf      481 non-null    int64
 25  pts     481 non-null    int64
 26  pos_F   481 non-null    uint8
 27  pos_G   481 non-null    uint8
 28  pos_PF  481 non-null    uint8
 29  pos_PG  481 non-null    uint8
 30  pos_SF  481 non-null    uint8
 31  pos_SG  481 non-null    uint8
dtypes: float64(5), int64(21), uint8(6)
memory usage: 100.6 KB

In [21]:
df.dtypes

age         int64
g           int64
gs          int64
mp          int64
fg          int64
fga         int64
fg.       float64
x3p         int64
x3pa        int64
x3p.      float64
x2p         int64
x2pa        int64
x2p.      float64
efg.      float64
ft          int64
fta         int64
ft.       float64
orb         int64
drb         int64
trb         int64
ast         int64
stl         int64
blk         int64
tov         int64
pf          int64
pts         int64
pos_F       uint8
pos_G       uint8
pos_PF      uint8
pos_PG      uint8
pos_SF      uint8
pos_SG      uint8
dtype: object

In [22]:
X = df.drop('pts',axis=1)
y = df['pts']

without standardization

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [37]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
knr.fit(x_train,y_train)

KNeighborsRegressor()

In [38]:
knr.score(x_test,y_test)

0.9795107093730114

In [39]:
y_pred = knr.predict(x_test)

In [40]:
from sklearn.metrics import mean_squared_error
print(f'MSE:{mean_squared_error(y_test,y_pred)}')
print(f'RMSE:{np.sqrt(mean_squared_error(y_test,y_pred))}')

MSE:4080.937103448275
RMSE:63.88221273130945

In [41]:
data = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()})
data

     Actual Points  Predicted Points
0              587             623.2
1               89              98.8
2              350             325.2
3             1417            1350.6
4             1071            1081.4
..             ...               ...
140            525             552.0
141            197             203.4
142            138             171.0
143           1330            1229.4
144            144             220.2

[145 rows x 2 columns]

with normalization

In [23]:
from sklearn.preprocessing import Normalizer
norm = Normalizer()
X_norm = norm.fit_transform(X)

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_norm,y,test_size=0.3,random_state=42)

In [28]:
from sklearn.neighbors import KNeighborsRegressor
knr_norm = KNeighborsRegressor()
knr_norm.fit(x_train,y_train)

KNeighborsRegressor()

In [29]:
knr_norm.score(x_test,y_test)

0.6820088360944019

In [30]:
y_new_pred = knr_norm.predict(x_test)

In [34]:
from sklearn.metrics import mean_squared_error
print(f'MSE:{mean_squared_error(y_test,y_new_pred)}')
print(f'RMSE:{np.sqrt(mean_squared_error(y_test,y_new_pred))}')

MSE:63335.620689655174
RMSE:251.66569231751708

In [42]:
data = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()})
data

     Actual Points  Predicted Points
0              587             623.2
1               89              98.8
2              350             325.2
3             1417            1350.6
4             1071            1081.4
..             ...               ...
140            525             552.0
141            197             203.4
142            138             171.0
143           1330            1229.4
144            144             220.2

[145 rows x 2 columns]

on standardization

In [44]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(X)

In [45]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.3,random_state=42)

In [46]:
knr_scaled = KNeighborsRegressor()
knr_scaled.fit(x_train,y_train)

KNeighborsRegressor()

In [47]:
knr_scaled.score(x_test,y_test)

0.9610799714089038

In [48]:
y_pred_2 = knr_scaled.predict(x_test)

In [49]:
print(f'MSE:{mean_squared_error(y_test,y_pred_2)}')
print(f'RMSE:{np.sqrt(mean_squared_error(y_test,y_pred_2))}')

MSE:7751.863724137931
RMSE:88.0446689137845

In [50]:
data = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred_2.tolist()})
data

     Actual Points  Predicted Points
0              587             475.2
1               89             172.6
2              350             350.0
3             1417            1512.6
4             1071             922.6
..             ...               ...
140            525             664.4
141            197             234.4
142            138             146.0
143           1330            1191.0
144            144             226.4

[145 rows x 2 columns]